<div class="backdrop hidden">
  <div class="modal">
    <button type="button" class="btn-close"></button>
    <img class="modal__img" alt="" />
    <h2></h2>
    <div class="modal__titre">
      <p>Vote / Votes</p>
      <p>Popularity</p>
      <p>Original Title</p>
      <p>Genre</p>
    </div>
    <div class="modal__rate">
      <p><span class="accent"></span>/</p>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <h3>About</h3>
    <p></p>
    <button type="button modal__btn accent">Add to watced</button>
    <button type="button modal__btn">Add to queue</button>
  </div>
</div>
