<header class="header">
  <div class="container">
    <nav class="navigation">
      <div class="navigation__logo">
        <a href=""
          ><svg width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
          <span class="navigation__name">Filmoteka</span></a
        >
      </div>
      <div class="navigation__actions">
        <a class="button current" href="./index.html">Home</a>
        <a class="button button--last" href="./my-library.html">Library</a>
      </div>
    </nav>
    <form class="search-form">
      <input
        class="search-form__input"
        type="text"
        name="searchQuery"
        placeholder="Movie search"
      />
      <button class="search-form__btn" type="submit">
        <svg width="12" height="12">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="header__info"></div>
  </div>
</header>
